# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env
.env.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Testing
.log
.pytest_cache/
.coverage
htmlcov/

# OS specific
.DS_Store
Thumbs.db
crash_debug.log
pytestdebug.log
search_tool_coverage.xml
cli_coverage.xml
t --cov=src --cov-report=term
